<link rel="stylesheet" href="/css/home.css" />
<div class="container">
  <% if (!locals.user) { %>
  <h3>Please Sign-in to view the posts :) or Sign-up</h3>
  <%}%>

  <section id="feed-posts">
    <% if (locals.user) { %>
    <h4 class="feed-posts__heading">Feed</h4>
    <form
      class="feed-posts__form"
      action="/posts/create-post"
      id="new-post-form"
      method="POST"
    >
      <textarea
        name="content"
        id=""
        cols="30"
        rows="5"
        placeholder="Type Here..."
        required
      ></textarea>
      <input type="submit" value="Post" />
    </form>

    <div class="feed-container">
      <ul>
        <% for (post of posts) {%>
        <li>
          <div class="feed-container__post-info">
            <p class="feed-container__post-user"><%= post.user.name %></p>
            <p class="feed-container__post-content"><%= post.content %></p>
          </div>
          <div class="post-comments">
            <form action="/comments/create-comment" method="POST">
              <input
                type="text"
                name="content"
                placeholder="Add a Comment.."
                required
              />
              <input type="hidden" name="post" value="<%= post._id %>" />
              <input type="submit" value="Comment" />
            </form>

            <div class="post-comments-list">
              <ul id="post-comment-<%= post._id %>">
                <% for(comment of post.comments){%>
                <p><%= comment.content %></p>
                <br />
                <small><%= comment.user.name %></small>
                <% } %>
              </ul>
            </div>
          </div>
        </li>
        <%}%>
      </ul>
    </div>

    <% } %>
  </section>
</div>
