<link rel="stylesheet" href="/css/home.css" />
<div id="home-container">
  <% if (!locals.user) { %>
  <h3>Please Sign-in to view the posts :) or Sign-up</h3>
  <%}%>

  <section id="feed-posts">
    <% if (locals.user) { %>
    <h4 class="feed-posts__heading">Feed</h4>
    <form
      class="feed-posts__form"
      action="/posts/create-post"
      id="new-post-form"
      method="POST"
    >
      <textarea
        name="content"
        id=""
        cols="30"
        rows="5"
        placeholder="Type Here..."
        required
      ></textarea>
      <input type="submit" value="Post" />
    </form>

    <div id="post-list-container">
      <ul>
        <% for (post of posts) {%> <%- include("_post") -%> <%}%>
      </ul>
    </div>
  </section>

  <section id="user-friends">
    <h4>Friends</h4>

    <% for( u of all_users) { %>

    <p><a href="/users/profile/<%= u.id %>"><%= u.name %> </a></p>
    <% } %>
  </section>
  <% } %>
</div>
<%- include("_chatbox") -%>
<script src="/js/toggle_likes.js"></script>
<script src="/js/home_posts.js"></script>
<script>
  $(".toggle-like-button").each(function () {
    let self = this;
    let toggleLike = new ToggleLike(self);
  });
</script>

<!-- setting up chatserver for client side. -->

<script
  src="https://cdn.socket.io/4.6.0/socket.io.min.js"
  integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+"
  crossorigin="anonymous"
></script>

<script src="/js/chat_engine.js"></script>
<% if(locals.user){ %>
<script>
  new chatEngine("user-chat-box", "<%= locals.user.email %>");
</script>
<% } %>
