<link rel="stylesheet" href="/css/profile.css" />

<% if (user.id == profile_user.id) { %>

<img src="<%= profile_user.avatar %>" alt="User's Profle Page" />

<!-- If user (who's profile is currently viewed right now) matches with current signed in user then only show the form to update the user's info-->

<form
  action="/users/update/<%= profile_user.id %>"
  method="POST"
  enctype="multipart/form-data"
>
  <input
    required
    type="email"
    name="email"
    placeholder="Your E-Mail"
    value="<%= profile_user.email  %>"
  />

  <input
    required
    type="text"
    name="name"
    placeholder="Your Name"
    value="<%= profile_user.name  %>"
  />

  <input type="file" name="avatar" placeholder="Profile Picture" />

  <input type="submit" value="Update" />
</form>

<% } else {%>

<!-- Else only show the user's info and dont let other user's see the form and update the info :)  -->

<p id="name"><%= profile_user.name %></p>
<p id="email"><%= profile_user.email %></p>

<% } %>
